<div class="card mb-8">
  {% if post.picture %}
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for picture in post.pictures %}
                <li data-target="#carousel" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %}></li>
                {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for picture in post.pictures  %}
                <div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}> 
                    <img class="img-responsive center-block"  src="{{ vich_uploader_asset(picture, 'imageFile') }}"  style="width: 100%; height:auto;"/>
                </div>
            {% endfor %}
        </div>
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
  {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ post.titre }}</h5>
            <p class="card-text">{{ post.body }}</p>
            <p class="card-text"><small class="text-muted">{{ post.publishDate ? post.publishDate|date('Y-m-d') : '' }}</small></p>
            <a href="{{ path('admin.post.edit', {'id': post.id}) }}" class="btn btn-primary">edit</a>
            <form method="post" action="{{ path('admin.post.delete', {id: post.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                <button class="btn btn-danger">Supprimer</button>
            </form>
        </div>
</div>



