{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
      <h1 style="text-align:start">Actualiter</h1>



        <div class="jumbotron">
    <div class="container">
        {% if postSearchForm is not defined %}
        {% set postSearchForm = postSearchFormViewFactory.create %}
        {% endif %}

      {{ form_start(postSearchForm) }}
      <div class="form-row align-items-end">
        <div class="col">
          {{ form_row(postSearchForm.section) }}
        </div>
        <div class="col">
          {{ form_row(postSearchForm.categorie) }}
        </div>
        <div class="col">
          {{ form_row(postSearchForm.groupe) }}
        </div>
        </div>
        <div class="col">
          <div class="form-group">
            <button class="btn btn-primary">Rechercher</button>
          </div>
        </div>
      </div>
      {{ form_end(postSearchForm) }}
    </div>
  </div>

    <div class="container mt-4">

        <div class="text-center mb-4">
          <a href="{{ path('admin_post_create') }}" class="btn btn-secondary" >+ Ajouter post</a>
        </div>

    
      <div class="row flex justify-content-start flex-wrap">
        {% for post in posts %}
            <div class="card-deck col-md-3 ">
            <div class="card mb-4">
              {% if post.picture %}
                <img class="card-img-top" src="{{ vich_uploader_asset(post.picture, 'imageFile') }}" alt="Card image cap"/>
              {% else %}
                    <img src="{{ '/images/logo.jpg'}}"  style= "Responsive image;" class="card-img-top " alt="Card image cap">
              {% endif %}
              <div class="card-body text-truncate border" style="text-align:center">
                <h5 class="card-title"> {{ post.titre }}</h5>
                <p class="card-text"><small class="text-muted">{{ post.body }}</small></p>
                <a href="{{ path('admin_post_show', {'id': post.id}) }}" class="btn btn-primary">Voir</a>
              </div>
           </div>
           </div>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
      </div>
{% endblock %}
