{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>
<div class="container mt-4">
    {# <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Body</th>
                <th>PublishDate</th>
                <th>actions</th>
            </tr>
        </thead> #}
        {% for post in posts %}
 <div class="card">
    {% for picture in post.pictures %}

        {% if vich_uploader_asset(post.picture, 'imageFile') is null %}
         <img src="{{ '/images/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
        {% else %}
          <img src="{{ vich_uploader_asset(post.picture, 'imageFile') | imagine_filter('thumb') }}" width="100%; height:auto;" alt="">
        {% endif %}
    {% endfor %}

    <div class="card-body">
        <h5 class="card-title">{{ post.titre }}</h5>
        <p class="card-text">{{ post.body }}</p>
        <p class="card-text"><small class="text-muted">{{ post.publishDate ? post.publishDate|date('Y-m-d') : '' }}</small></p>
        <a href="{{ path('admin.post.edit', {'id': post.id}) }}" class="btn btn-primary">edit</a>
          <form method="post" action="{{ path('admin.post.delete', {id: post.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
            <button class="btn btn-danger">Supprimer</button>
          </form>
    </div>
</div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    <div class="text-center">
    <a href="{{ path('admin.post.create') }}" class="btn btn-secondary">Create new</a>
    </div>
</div>
    <div>
       {{ knp_pagination_render(posts) }} 
    </div>

{% endblock %}
