{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <div class="container mt-4" style="text-align:center">
        <div class=" position-relative"style="top:30px;">
            <img src="{{ '/images/tfc.png' | imagine_filter('large')}}" class="img-fluid" style= "Responsive image;">
        </div>
            <div class="position-relative" style="top:-30px;">
                {% if joueur.filename %}
                    <img src="{{ vich_uploader_asset(joueur, 'imageFile') | imagine_filter('medium')}}"  style= "Responsive image;" class="img-fluid rounded-circle ">
                {% else %}
                    <img src="{{ '/images/iconUser.jpg' | imagine_filter('medium')}}"  style= "Responsive image;" class="img-fluid rounded-circle ">
                {% endif %}
                <h1 style="">{{joueur.nom}} {{joueur.prenom}}</h1>
                {% if joueur.position.name is not defined  %}
                <h2></h2>
                {% else %}
                <h2>{{ joueur.position.name }}</h2>
                {% endif %}
           
                <div class="col mb-5">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Entraineur</th>
                                {# <td> <a href="{{ path('entraineur_show', {'id': entraineur.id}) }}">{{entraineur.nom}} {{entraineur.prenom}}</a></td> #}
                            </tr>
                            <tr>
                                <th>Categorie</th>
                                <td>{{ joueur.categorie.nom }} {{ joueur.categorie.groupe }}</td>
                            </tr>
                            <tr>
                                <th>Date de naissance</th>
                                <td>{{ joueur.dateDeNaissance ? joueur.dateDeNaissance|date('d/m/Y') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Age</th>
                                <td>{{ age }} ans</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="{{ path('joueur_edit', {'id': joueur.id}) }}" class="btn btn-primary">Modifier mes informations</a>

                </div>
            <div class="col mt-4 " style='text-align:left; '>
                <h4 class="p-3 mb-2 bg-dark text-white rounded">Equipe</h4><p class="m-4 text-muted">{{joueurCount}} Joueurs</p>
            </div>
           <div class="row flex justify-content-center">
                {% for joueur in joueurs|filter(joueur => joueur != joueurActive) %}
                <div class="card-deck col-md-3">
                <div class="card mb-4">
                    {% if joueur.filename %}
                        <img src="{{ vich_uploader_asset(joueur, 'imageFile') | imagine_filter('medium')}}"  style= "Responsive image;" class="img-fluid rounded-circle ">
                    {% else %}
                        <img src="{{ '/images/iconUser.jpg' | imagine_filter('medium')}}"  style= "Responsive image;" class="img-fluid rounded-circle ">
                    {% endif %}
                    <div class="card-body" style="text-align:center">
                    <h4 class="card-title"> {{ joueur.prenom }}</h5>
                    <h5 class="card-title"> {{ joueur.nom }}</h5>
                    {# <p class="card-text"><small class="text-muted">{{joueur.position.name}}</small></p> #}
                    <a href="{{ path('joueur_show', {'id': joueur.id}) }}" class="btn btn-primary">Voir statistique</a>
                    </div>
                </div>
                </div>
            {% endfor %}
        {# <div>
        {{ knp_pagination_render(joueurs) }} 
        </div> #}

    </div>
                </div>
            </div>

    </div>

{% endblock %}
