{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <div class="container mt-4" style="text-align:center">
            <div class=" position-relative"style="top:30px;">
            <img src="{{ '/images/tfc.png' | imagine_filter('large')}}" class="img-fluid" style= "Responsive image;">
            </div>
            <div class="position-relative" style="top:-30px;">
            {% if joueur.filename %}
                <img src="{{ vich_uploader_asset(joueur, 'imageFile') | imagine_filter('medium')}}"  style= "Responsive image;" class="img-fluid rounded-circle ">
            {% else %}
                <img src="{{ '/images/iconUser.jpg' | imagine_filter('medium')}}"  style= "Responsive image;" class="img-fluid rounded-circle ">
            {% endif %}
                <h1 style="">{{joueur.nom}} {{joueur.prenom}}</h1>
                <h2>{{ joueur.position.name }}</h2>
           
                <div class="col mt-3">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Categorie</th>
                                <td>{{ joueur.categorie.nom }} {{ joueur.categorie.groupe }}</td>
                            </tr>
                            <tr>
                                <th>Date de naissance</th>
                                <td>{{ joueur.dateDeNaissance ? joueur.dateDeNaissance|date('d/m/Y') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Age</th>
                                <td>{{ age }} ans</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="{{ path('joueur_edit', {'id': joueur.id}) }}" class="btn btn-primary">Modifier mes informations</a>

                </div>
            
            </div>

    </div>
   
   
   
   


   
        {# <div class="col mt-3">
            <table class="table">
                <tbody>
                    <tr>
                    <tr>
                        <th>Position</th>
                        <td>{{ joueur.position.name }}</td>
                    </tr>
                        <th>Categorie</th>
                        <td>{{ joueur.categorie.nom }} {{ joueur.categorie.groupe }}</td>
                    </tr>
                    <tr>
                        <th>Date de naissance</th>
                        <td>{{ joueur.dateDeNaissance ? joueur.dateDeNaissance|date('d/m/Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>{{ age }} ans</td>
                    </tr>
                </tbody>
            </table>
        </div> #}
    {# <table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Equipe</th>
        <th scope="col">But</th>
        <th scope="col">Match</th>
        <th scope="col">Carton Jaune</th>
        <th scope="col">Carton Rouge</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-info">
        <th scope="row">{{ joueur.equipe.name }}</th>
        <td>{{ joueur.but }}</td>
        <td>{{ joueur.matchJouer }}</td>
        <td>{{ joueur.cartonJaune }}</td>
        <td>{{ joueur.cartonRouge }}</td>
        </tr>
    </tbody>
    </table>
    <a href="{{ path('joueur_index') }}">back to list</a>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('joueur_edit', {'id': joueur.id}) }}">edit</a>
    {{ include('joueur/_delete_form.html.twig') }}
    {% endif %} #}


{% endblock %}
