{% extends 'base.html.twig' %}

{% block title %}Joueur{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>{{categorie.nom}} {{categorie.groupe}}</h1>
    <a href="{{ path('entraineur_show', {'id': entraineur.id}) }}"><h2 style="text-align:center">{{entraineur.nom}} {{entraineur.prenom}}</h2></a>


    <div class="row flex justify-content-center flex-wrap">
            {% for joueur in joueurs|filter(joueur => joueur != joueurActive) %}
        <div class="card-deck col-md-3">
            <div class="card mb-4">
                {% if joueur.filename %}
                    <img src="{{ vich_uploader_asset(joueur, 'imageFile') | imagine_filter('medium')}}"  style= "Responsive image;" class="img-fluid rounded-circle ">
                {% else %}
                    <img src="{{ '/images/iconUser.jpg' | imagine_filter('medium')}}"  style= "Responsive image;" class="img-fluid rounded-circle ">
                {% endif %}
                <div class="card-body" style="text-align:center">
                <h5 class="card-title"> {{ joueur.nom }} {{ joueur.prenom }}</h5>
                <p class="card-text"><small class="text-muted">{{ joueur.dateDeNaissance ? joueur.dateDeNaissance|date('Y-m-d') : '' }}</small></p>
                <a href="{{ path('joueur_show', {'id': joueur.id}) }}" class="btn btn-primary">Voir Profil</a>
                </div>
            </div>
        </div>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
        {% endfor %}
    </div>
        {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('joueur_new') }}">Create new</a>
        {% endif %}
</div>

{% endblock %}
