{% extends 'base.html.twig' %}

{% block title %}Joueur{% endblock %}

{% block body %}
<div style="margin:30px">

    <h1 style = "text-align: start">{{joueur.nom}} {{joueur.prenom}}</h1>
    {# <p>{{ user }}</p> #}
    <div class="row">
        <div class="col">
        
            <img src="{{ '/images/homme.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style= "height:auto; margin:15px">
        </div>
        <div class="col mt-3">
            <table class="table">
                <tbody>
                    <tr>
                    {# <tr>
                        <th>Position</th>
                        <td>{{ joueur.position.name }}</td>
                    </tr> #}
                        <th>Categorie</th>
                        <td>{{ joueur.categorie.nom }} {{ joueur.categorie.groupe }}</td>
                    </tr>
                    <tr>
                        <th>Date de naissance</th>
                        <td>{{ joueur.dateDeNaissance ? joueur.dateDeNaissance|date('d/m/Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>{{ age }} ans</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Equipe</th>
        <th scope="col">But</th>
        <th scope="col">Match</th>
        <th scope="col">Carton Jaune</th>
        <th scope="col">Carton Rouge</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-info">
        <th scope="row">{{ joueur.equipe.name }}</th>
        <td>{{ joueur.but }}</td>
        <td>{{ joueur.matchJouer }}</td>
        <td>{{ joueur.cartonJaune }}</td>
        <td>{{ joueur.cartonRouge }}</td>
        </tr>
    </tbody>
    </table>
    <a href="{{ path('joueur_index') }}">back to list</a>
    {% if user == userJoueur %}
    <a href="{{ path('joueur_edit', {'id': joueur.id}) }}">edit</a>
    {{ include('joueur/_delete_form.html.twig') }}
    {% endif %}

</div>


{% endblock %}

